[project]
	description = "A geoinformatics script language written in C#"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Marczinus (marczinusd)
[access "refs/for/refs/*"]
	read = group user/David Marczinus (marczinusd)
	push = group user/David Marczinus (marczinusd)
	label-Code-Review = -2..+2 group user/David Marczinus (marczinusd)
	label-Verified = -1..+1 group user/David Marczinus (marczinusd)
	rebase = group user/David Marczinus (marczinusd)
	removeReviewer = group user/David Marczinus (marczinusd)
	submit = group user/David Marczinus (marczinusd)
[access "refs/heads/*"]
	read = group user/David Marczinus (marczinusd)
	create = group user/David Marczinus (marczinusd)
	push = +force group user/David Marczinus (marczinusd)
	pushMerge = group user/David Marczinus (marczinusd)
[access "refs/tags/*"]
	push = +force group user/David Marczinus (marczinusd)
	pushTag = group user/David Marczinus (marczinusd)
	pushSignedTag = group user/David Marczinus (marczinusd)
